{% extends 'base.html.twig' %}

{% block title %}Mon planning
{% endblock %}


{% block body %}

	<section class="container py-5">

		<div class="d-flex justify-content-between align-items-end mb-5">
			<h1 class="hero-heading mb-0">Mes cours à venir</h1>
		</div>

		{# Colonne droite : cards des reservations #}
		<div>
			<p id="reservation-status" class="text-muted small mb-0" role="status" aria-live="polite"></p>


			<div id="reservation-cards-container" class="row">
				<noscript>
					<p class="text-danger">
						Le planning n’est pas disponible pour le moment.
					</p>
				</noscript>
				{# Cards générées en JS #}
			</div>

		</div>


		<div class="text-center m-5">
			<a class="btn btn-secondary px-4 me-md-2" href="{{ path('app_profile')}}">Retour</a>
		</div>


		{# Modal de confirmation d'annulation #}
		<div class="modal fade" id="confirmCancelReservationModal" tabindex="-1" aria-labelledby="confirmCancelReservationLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="confirmCancelReservationLabel">
							Confirmer l'annulation
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
					</div>
					<div class="modal-body" id="confirmCancelReservationBody">
						Voulez-vous vraiment annuler cette réservation ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Retour
						</button>
						<button type="button" class="btn btn-danger" id="confirmCancelReservationButton" data-bs-dismiss="modal">
							Annuler votre réservation
						</button>
					</div>
				</div>
			</div>
		</div>


	</section>


	<script src="/js/student-reservations.js" defer></script>


{% endblock %}
