{% extends 'base.html.twig' %}

{% block title %}Namaste Yoga Studio{% endblock %}

{% block body %}

<section class="bg-hero d-flex flex-column align-items-center justify-content-center">

    <div class="container">
        <div class="text-center">
            <img src="{{ asset('/logos/logo-horizontal-clair.png')}}" alt="Logo Namaste Yoga Studio" height="200">
        </div>
    </div>

</section>

<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>

<p>text</p>
<p class="medium">text</p>
<p class="small">text</p>
<p class="tiny">text</p>

<a href="">lien</a>

<button class="btn btn-primary">Bouton</button>
<button class="btn btn-primary disabled">Bouton</button>

<button class="btn btn-secondary">Bouton</button>
<button class="btn btn-secondary disabled">Bouton</button>


{% endblock %}
