<footer class="bg-footer py-4">
	<div class="container">

		<div class="row text-center text-md-start ">

			<div class="col-md-3 mb-3 mb-md-0">
				<img src="{{ asset('logos/logo-vertical-clair.png') }}" alt="Logo Namaste Yoga Studio" class="img-fluid mb-4" style="max-width: 130px;">
			</div>

			<div class="col-md-3 mb-3 mb-md-0 d-flex flex-column">
				<h5 class="titre-footer mb-1">Le studio</h5>
				<a href="" class="small-text">Présentation</a>
				<a href="" class="small-text">Les cours</a>
				<a href="" class="small-text">Les professeurs</a>
			</div>

			<div class="col-md-3 mb-3 mb-md-0 d-flex flex-column">
				<h5 class="titre-footer mb-1 fw-bold">Infos pratiques</h5>
				<a href="" class="small-text">Les tarifs</a>
				<a href="" class="small-text">Venir au studio</a>
				<a href="{{ path('app_contact')}}" class="small-text">Nous contacter</a>
			</div>

			<div class="col-md-3 mb-3 mb-md-0 d-flex flex-column">
				<h5 class="titre-footer mb-1 fw-bold">Réglementations</h5>
				<a href="" class="small-text">Mentions légales</a>
				<a href="" class="small-text">Politique de confidentialité</a>
			</div>
		</div>


		<div class="d-flex justify-content-center align-items-center text-center mt-4">
			<a href="" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-square-instagram fa-2x me-3"></i>
			</a>
			<a href="" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-square-facebook fa-2x"></i>
			</a>
		</div>

		<div class="d-flex justify-content-center align-items-center text-center mt-4">
			<p class="titre-footer small">&copy; 2025 Namaste Yoga Studio</p>
		</div>
        
    </div>
</footer>
