<header class="header">

	<nav class="navbar navbar-expand-lg fixed-top {% if app.request.get('_route') == 'app_home' %}navbar-scroll{% else %}bg-white shadow{% endif %}">

		<div class="container">

			<div class="d-flex align-items-center">
				<a class="navbar-brand py-1" href="/">
					<img src="{{ asset('/logos/logo-vertical-safran.png')}}" alt="Logo Namaste Yoga Studio" height="50"></a>
			</div>

			<button class="text-white navbar-toggler navbar-toggler-right collapsed p-3 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars fa-lg"></i>
			</button>

			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">ACCUEIL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">LES COURS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">CONTACT</a>
					</li>

					{% if is_granted('ROLE_ADMIN') %}

						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-outline-primary" href="#">Admin</a>
						</li>
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-primary" href="#">Deconnexion</a>
						</li>

					{% elseif is_granted('ROLE_EMPLOYEE') %}
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-outline-primary" href="# ">Espace Employée</a>
						</li>
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-primary" href="#">Deconnexion</a>
						</li>

					{% elseif app.user  %}
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-outline-primary" href="#">Mon espace</a>
						</li>
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-primary" href="#">Deconnexion</a>
						</li>

					{% else %}
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-xl-infinite-block">
							<a class="btn btn-primary" href="#">CONNEXION</a>
						</li>
					{% endif %}

				</ul>
			</div>

		</div>
	</nav>
</header>
